<template name="addAccountDialog">
<div class="row">
		{{ #if blablaAccount }}
			ton id Blablacar : {{ blablaId }}
		{{ else }}
			<button id="blabla-add" class="visible">Ajouter compte Blablacar</button>
			<div class="floating-input hidden" id="blabla-id">      
        <input type="text">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Votre pseudo Blablacar</label>
      </div>
			<button id="blabla-save" class="hidden" >Enregistrer</button>
		{{ /if }}
		{{ #if ebayAccount }}
			ton pseudo Ebay : {{ ebayId }}
		{{ else }}
			<button id="ebay-add" class="visible">Ajouter compte Ebay</button>
			<div class="floating-input hidden" id="ebay-id">      
        <input type="text">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Votre pseudo Ebay</label>
      </div>
			<button id="ebay-save" class="hidden">Enregistrer</button>
		{{ /if }}
		{{ #if bnbAccount }}
			ton id Bnb : {{ bnbId }} 
		{{ else }}
			<button id="bnb-add" class="visible">Ajouter compte AirBnb</button>
			<div class="floating-input hidden" id="bnb-id">      
        <input type="text">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Votre pseudo AirBnb</label>
      </div>
			<button id="bnb-save" class="hidden">Enregistrer</button>
		{{ /if }}
</div>
</template>