<template name="discover">
    <div class="sub_header_container">
    	<div class="container">
    		<h2 class="discover-title">Starter-kit</h2>
    		<p class="hang">Find your perfect solution to earn and save money.</p>
    	</div>
    </div>
    <div class="container">
    	<div class="form-group row questionnaire">
    		<p class="question row">Do you want to rend ?</p>
    		<div class="container choice">
	    		<label class="col-md-4 col-xs-4">
	      			<input type="checkbox"> house
	    		</label>
	    		<label class="col-md-4 col-xs-4">
	      			<input type="checkbox"> car
	    		</label>
	    		<label class="col-md-4 col-xs-4">
	      			<input type="checkbox"> tools
	    		</label>
	    	</div>
    	</div>
    	<div class="form-group row questionnaire">
    		<p class="question row">Do you have stuff to sell ?</p>
    		<div class="container choice">
	    		<label class="col-md-4 col-xs-4">
	      			<input type="checkbox"> yes
	    		</label>
	    		<label class="col-md-4 col-xs-4">
	      			<input type="checkbox"> no
	    		</label>
	    	</div>
    	</div>
    	<div class="form-group row questionnaire">
    		<p class="question row">Do you want to share a ride ?</p>
    		<div class="container choice">
	    		<label class="col-md-4 col-xs-4">
	      			<input type="checkbox"> driver
	    		</label>
	    		<label class="col-md-4 col-xs-4">
	      			<input type="checkbox"> passenger
	    		</label>
	    	</div>
    	</div>
    	<button class="btn discover-submit" type="submit">submit</button>
    </div>
</template>