<template name="explore">
  <div class="sub_header_container">
    <div class="container">
      <h1>Explore <span>#Car-renting</span></h1>
      <ul class="sub_categories">
        <li>Car rental</li>
        <li>House rental</li>
        <li>Sell stuffs</li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <h3><a href="#" class="add_filters"><i class="icon-filter"></i>Add filter</a></h3>

      <div class="row">
        <div class="col-sm-3">
          <div class="category_card">
            {{> dummy}}
          </div>
        </div>
        <div class="col-sm-3">
          <div class="category_card">
            {{> dummy}}
          </div>
        </div>
        <div class="col-sm-3">
          <div class="category_card">
            {{> dummy}}
          </div>
        </div>
        <div class="col-sm-3">
          <div class="category_card">
            {{> dummy}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="category_card">
            {{> dummy}}
          </div>
        </div>
        <div class="col-sm-3">
          <div class="category_card">
            {{> dummy}}
          </div>
        </div>
        <div class="col-sm-3">
          <div class="category_card">
            {{> dummy}}
          </div>
        </div>
        <div class="col-sm-3">
          <div class="category_card">
            {{> dummy}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>