<template name="explore">
  <div class="sub_header_container">
    <div class="container">
      <h2>Explore <span>#Car-renting</span></h2>
      <ul class="sub_categories">
        <li><a href="#">#Rental</a></li>
        <li><a href="#">#House rental</a></li>
        <li><a href="#">#Sell stuffs</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <h3><a href="#" class="add_filters"><i class="icon-filter"></i>Add filter</a></h3>
      {{> dummy}}
    </div>
  </div>
</template>