<template name="header">
  <header class="{{#unless currentPageIs 'Home'}}bg_color {{/unless}}">
  <div class="logo">
    <a href="{{pathFor 'home'}}"><img src="img/logo.png" alt="TrustAdvisor"/></a>
  </div>
  {{ #if currentUser }}
   <div class="connexion">
    <a class="logout btn signup" href="{{ pathFor 'home' }}">Sign Out</a>
  </div>
  {{ else }}
  <div class="connexion">
    <button class="login">login</button>
    <button class="signup">sign up</button>
  </div>
  {{ /if }}

  <ul class="nav">
    <li><a href="{{pathFor 'explore'}}">explore</a></li>
    <li><a href="{{pathFor 'discover'}}">discover</a></li>
    <li><a href="{{ pathFor 'user' _id = currentUser._id }}">accounts manager</a></li>
  </ul>
  </header>
</template>