<template name="home">
  <div class="container home_content">
    <h2 class="hero-paragraph">Find a way to <strong>save</strong> and <strong>makes</strong> money without 'doing'
      anything</h2>

    <p class="hero-description">To start, <span>pick</span> a category:</p>
    <ul class="home_categories">
      <li>
        <a href=""><img src="img/home/car_rental.svg" alt="car rental"/></a>
        <a class="home_categorie_name" href=""><p>car rental</p></a>
      </li>
      <li>
        <a href=""><img src="img/home/house_rental.svg" alt="house rental"/></a>
        <a class="home_categorie_name" href=""><p>house rental</p></a>
      </li>
      <li>
        <a href=""><img src="img/home/sell.svg" alt="sell"/></a>
        <a class="home_categorie_name" href=""><p>sell</p></a>
      </li>
      <li>
        <a href=""><img src="img/home/carpool.svg" alt="carpool"/></a>
        <a class="home_categorie_name" href=""><p>carpool</p></a>
      </li>
    </ul>
  </div>
</template>