<template name="home">
    <div class="container">
        <p>Find a way to <strong>save</strong> and <strong>makes</strong> money without 'doing' anything</p>
        <p>To start, <span>pick</span> a category:</p>
        <ul>
            <li><img src="img/home/car_rental.svg" alt="car rental" /> <p>car rental</p></li>
            <li><img src="img/home/house_rental.svg" alt="house rental" /> <p>house rental</p></li>
            <li><img src="img/home/sell.svg" alt="sell" /> <p>sell</p></li>
            <li><img src="img/home/carpool.svg" alt="carpool" /> <p>carpool</p></li>
        </ul>     
    </div>
        
</template>