<template name="login">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div id="form">
                <br>
                <input class="margin" id="login-username" type="text" placeholder="Nom d'Utilisateur"/><br>
                <input class="margin" id="login-password" type="password" placeholder="Mot de passe"/><br>
                <br>
                <button class="btn btn-info" id="login">Login</button>
            </div>
        </div>
    </div>
</template>