<template name="register">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div id="form">
					<div class="margin" >Creer un compte :</div>
					<input class="margin" id="mail" type="text" placeholder="Email"/>
					<input class="margin" id="username" type="text" placeholder="Non d'Utilisateur"/>
					<input class="margin" id="pass" type="password" placeholder="Mot de passe"/>
					<input class="margin" id="nom" type="text" placeholder="Nom"/>
					<input class="margin" id="prenom" type="int" placeholder="Prenom"/>

					<button class="btn btn-primary margin" id="submit_user">S'enregistrer</button>
			</div>
		</div>
	</div>
</template>