<template name="user">
	<div class="sub_header_container">
		<div class="container-fluid">
		<img src="/img/profil/edit-profile.png" class="profil-settings" alt="">
		<div class="profil-header">
			<img src="/img/profil/avatar.png" alt="Avatar" class="profil-picture">
			{{ #if trustIndicator.badge }}<img src="/img/badge-noir.svg" alt="badge" class="profil-badge" width="30">{{ /if }}
			<div class="profil-infos">
				<div class="profil-name">{{ nom }} {{ prenom }}</div>
				<div class="profil-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, excepturi, ad. Earum eos consectetur quae, culpa, voluptatum alias nemo commodi. Doloribus repudiandae natus deserunt illo culpa deleniti eum vitae sint!</div>
				<div class="profil-note">{{ trustIndicator.indice }}</div>
			</div>
		</div>
	</div>
	</div>
	<div class="container">	
		
		<div class="row">
			<div class="col-sm-12">
				<div class="profil-graph">
					<a href="#"><img src="/img/profil/graphe.jpg" alt="Graphique"></a>
				</div>
			</div>
			{{ #if blablaAccount }}
				<div class="col-sm-3">
					<div class="category-card-profil" id="blabla-card">
						{{ #if blablaInfos.nbAvis }}
							<i id="blabla-detail" class="icon-detail"></i>
							<span id="blabla-delete" class="icon-delete">x</span>
							<div class="category-title">BlablaCar</div>
							<img src="/img/profil/mini-graphe.png" class="mini-graphe" alt="Mini Graphe">
							Note : {{ blablaInfos.note }}/5
							<br>
							Nombre d'avis {{ blablaInfos.nbAvis }}
						{{ else }}
							<img src="/img/loader.gif" alt="loader" class="loader" width="110"> 
							<div class="loader-text">
							 We are gathering your informations, please wait.
							</div>
						{{ /if }}
					</div>
				</div>
			{{ /if }}
			{{ #if bnbAccount }}
				<div class="col-sm-3">
					<div class="category-card-profil" id="bnb-card">
						{{ #if bnbInfos.nbAvis }}
							<i id="bnb-detail" class="icon-detail"></i>
							<span id="bnb-delete" class="icon-delete">x</span>
							<div class="category-title">AirBnb</div>
							<img src="/img/profil/mini-graphe.png" class="mini-graphe" alt="Mini Graphe">
							Note: {{ bnbInfos.note }}
							<br>
							Nombre d'avis : {{ bnbInfos.nbAvis }}
						{{ else }}
							<img src="/img/loader.gif" alt="loader" class="loader" width="110"> 
							<div class="loader-text">
							 We are gathering your informations, please wait.
							</div>
						{{ /if }}
						</div>
				</div>
			{{ /if }}
			{{ #if ebayAccount }}
				<div class="col-sm-3">
					<div class="category-card-profil" id="ebay-card">
						{{ #if ebayInfos.note }}
							<i id="ebay-detail" class="icon-detail"></i>
							<span id="ebay-delete" class="icon-delete">x</span>
							<div class="category-title">Ebay</div>
							{{ #if ebayInfos.fail }} {{ else }}<img src="/img/profil/mini-graphe.png" class="mini-graphe" alt="Mini Graphe">{{ /if }}
							{{ #if ebayInfos.fail }} {{ else }}Evaluation : {{ /if }}{{ ebayInfos.note }}
							<br>
							{{ #if ebayInfos.fail }} {{ else }}Note ebayTrust : {{ /if }}{{ ebayInfos.noteTrust }}
							<br>
						{{ else }}
							<img src="/img/loader.gif" alt="loader" class="loader" width="110"> 
							<div class="loader-text">
							 We are gathering your informations, please wait.
							</div>
						{{ /if }}
					</div>
				</div>
			{{ /if }}
			<div class="col-sm-3">
				<div class="category-card-profil profil-add">
					<div class="profil-link-add">
						<img src="/img/profil/add-account.png" alt="">
					</div>
					<div class="profil-link-text">
						Link another account
					</div>
				</div>
			</div>
		</div>
	</div>
</template>