<template name="user">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
			<h1> Profil de {{ nom }} {{ prenom }}  :</h1>			
			<div class="margin">Mail : {{ mail }} </div>
			<div class="margin">nom d'Utilisateur : {{ username }} </div>
		</div>
	</div>
	<div class="row">
		<h2>Mes comptes </h2>
		<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
			{{ #if blablaAccount }}
				ton id Blablacar : {{ blablaId }}
				<button id="blabla-delete">X</button>
			{{ else }}
				<button id="blabla-add" class="visible">Ajouter compte Blablacar</button>
				<input type="text" id="blabla-id" class="hidden" placeholder="Votre pseudo Blablacar"/>
				<button id="blabla-save" class="hidden" >Enregistrer</button>
			{{ /if }}
		</div>
		<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
			{{ #if ebayAccount }}
				ton id Ebay : {{ ebayId }}
				<button id="ebay-delete">X</button>
			{{ else }}
				<button id="ebay-add" class="visible">Ajouter compte Ebay</button>
				<input type="text" id="ebay-id" class="hidden" placeholder="Votre pseudo Ebay"/>
				<button id="ebay-save" class="hidden">Enregistrer</button>
			{{ /if }}
		</div>
		<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
			{{ #if bnbAccount }}
				ton id Bnb : {{ bnbId }}
				<button id="bnb-delete">X</button>
			{{ else }}
				<button id="bnb-add" class="visible">Ajouter compte AirBnb</button>
				<input type="text" id="bnb-id" class="hidden" placeholder="Votre pseudo AirBnb"/>
				<button id="bnb-save" class="hidden">Enregistrer</button>
			{{ /if }}
		</div>
	</div>
	<div class="row">
		{{ #if blablaAccount }}
			<h1> Vos infos blablaCar</h1>
			Note : {{ blablaInfos.note }}/5
			<br>
			Nombre d'avis {{ blablaInfos.nbCom }}
		{{ /if }}
		{{ #if bnbAccount }}
			<h1> Vos infos BNB </h1>
			note: random
			<br>
			Nombre d'avis {{ bnbInfos.nbCom }}
		{{ /if }}
	</div>
</template>