<template name="user">
	<div class="container fluid">
		<div class="profil-header">
				<div class="profile-picture"></div>
				<div class="profil-infos">
					<div class="profil-name">{{ nom }} {{ prenom }}</div>
					<div class="profil-description">Lorem ipsum desc</div>
					<div class="profil-note">{{ trustIndicator }}</div>
				</div>
				<div class="profil-settings"></div>
		</div>
	</div>
	<div class="container">	
		
		<div class="row">
			<div class="col-sm-12">
				<div class="profil-graph">
				
				</div>
			</div>
			{{ #if blablaAccount }}
				<div class="col-sm-3">
					<div class="category-card-profil">
							
						<button id="blabla-share">X</button>
						<button id="blabla-delete">X</button>
						<div class="category-title">BlablaCar</div>
						{{ #if blablaInfos.nbAvis }}
							Note : {{ blablaInfos.note }}/5
							<br>
							Nombre d'avis {{ blablaInfos.nbAvis }}
						{{ else }}
							<div class="loader">
							Nous recupérons les infos de votre compte, veuillez patienter
							</div>
						{{ /if }}
					</div>
				</div>
			{{ /if }}
			{{ #if bnbAccount }}
				<div class="col-sm-3">
					<div class="category-card-profil">
						<button id="bnb-share">X</button>
						<button id="bnb-delete">X</button>
						<div class="category-title">AirBnb</div>
						{{ #if bnbInfos.nbAvis }}
							Note: {{ bnbInfos.note }}
							<br>
							Nombre d'avis : {{ bnbInfos.nbAvis }}
						{{ else }}
							<div class="loader">
							Nous recupérons les infos de votre compte, veuillez patienter
							</div>
						{{ /if }}
						</div>
				</div>
			{{ /if }}
			{{ #if ebayAccount }}
				<div class="col-sm-3">
					<div class="category-card-profil">
						<button id="ebay-share">X</button>
						<button id="ebay-delete">X</button>
						<div class="category-title">Ebay</div>
						{{ #if ebayInfos.note }}
							Evaluation : {{ ebayInfos.note }}
							Note ebayTrust : {{ ebayInfos.noteTrust }}
							<br>
						{{ else }}
							<div class="loader">
							Nous recupérons les infos de votre compte, veuillez patienter
							</div>
						{{ /if }}
					</div>
				</div>
			{{ /if }}
			<div class="col-sm-3">
				<div class="category-card-profil">
					<div class="profil-link-add">
					</div>
					<div class="profil-link-text">
						Link another account
					</div>
				</div>
			</div>
		</div>
	</div>
</template>