
header {
	height: 90px;
	overflow: hidden;
}
.logo{
	float: left;
	width: 200px;
	height: 40px;
	margin: 20px 0 0 20px;
}
.logo img {
	width: 100%;
}
.nav{
	float: right;
	margin: 20px 20px 0 0 ;
}
.nav li{
	display: inline-block;
}
.nav li a{
	text-transform: uppercase;
	color: #FFF;
	font-family: 'Lato';
	font-weight: 100;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-mo-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}
.nav li a:hover{
	background-color: transparent!important;
	color: #FF3366;
}
.nav li a:focus{
	background-color: transparent!important;
	color: #FF3366;
}
.connexion{
	float: right;
	margin: 20px 20px 0 0 ;
}
.login, .signup{
	text-transform: uppercase;
	background-color: transparent;
	padding: 5px 10px 5px 10px;
	margin: 5px;
}
.login{
	color: #FFF;
	border: none;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-mo-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}
.login:hover{
	color: #FF3366;
}
.signup{
	border: 1px solid #FF3366;
	border-radius: 3px;
	color: #FF3366;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-mo-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}
.signup:hover{
	border: none;
	border: 1px solid #FF3366;
	border-radius: 3px;
	color: #FFF;
	background-color: #FF3366;
}
.header_bg_color{
	background: #282828;
}