.container-fluid {
    padding: 0;
    widows: 100%;
}

.profil-header {
    padding: 50px;
    height: 250px;
}

.profil-picture {
    float: left;
    margin-right: 50px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profil-infos {
    overflow: hidden;
    float: left;
    width: 80%;
    color: #9f9f9f;
}

.profil-name {
    font-family: "Roboto";
    font-size: 24px;
    margin-bottom: 10px;
}

.profil-description {
    padding-left: 20px;
    border-left: 3px solid #EAEAEA;
}

.profil-note {
    font-family: "Roboto";
    font-size: 16px;
    float: right;
}

.profil-settings { 
    width: 25px;
    float: right;
    margin: 20px;
}

.profil-graph img {
    max-width: 100%;
}

.category-card-profil {    
    height: 130px;
    border: 3px solid #eaeaea;
    border-radius: 3px;
    padding: 5%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

    -webkit-transition: border-color .5s ease;
    -moz-transition: border-color .5s ease;
    -o-transition: border-color .5s ease;
    transition: border-color .3s ease;
}

.category-card-profil:hover { border-color: #b3b3b3; }

.category-card-profil a:hover > .icon-share,
.category-card-profil a:hover > .icon-link {
    background: #fc3775;
}

.category-title {
    font-family: "Roboto";
    font-size: 16px;
    text-transform: uppercase;
}

.profil-link-add {
    width: 50px;
    height: 50px;
    margin: 0 auto 20px auto;
}

.profil-link-text {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}