.container-fluid {
    padding: 0;
    widows: 100%;
}

.profil-header {
    padding: 50px;
    height: 250px;
}

.profil-picture {
    float: left;
    margin-right: 50px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profil-infos {
    overflow: hidden;
    float: left;
    width: 80%;
    color: #9f9f9f;
}

.profil-name {
    font-family: "Raleway";
    font-size: 24px;
    margin-bottom: 10px;
}

.profil-description {
    padding-left: 20px;
    border-left: 3px solid #EAEAEA;
}

.profil-note {
    font-family: "Roboto";
    font-size: 16px;
    margin-top: 20px;
}

.profil-settings { 
    width: 25px;
    float: right;
    margin: 20px;
}

.profil-graph img {
    max-width: 100%;
    margin: 20px auto;
}

.category-card-profil {    
    height: 130px;
    border: 3px solid #eaeaea;
    border-radius: 3px;
    padding: 5%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

    -webkit-transition: border-color .5s ease;
    -moz-transition: border-color .5s ease;
    -o-transition: border-color .5s ease;
    transition: border-color .3s ease;
		
		-webkit-transition: height 0.8s;
		-moz-transition: height 0.8s;
		transition: height 0.8s;
}

.category-card-profil.detail {

height: 180px;
}

.category-card-profil:hover { border-color: #b3b3b3; }

.category-card-profil a:hover > .icon-detail,
.category-card-profil a:hover > .icon-delete {
    background: #fc3775;
}

.category-title {
    font-family: "Raleway";
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.icon-detail {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #b3b3b3;

    -webkit-mask-image: url("img/profil/ic-options.svg");
    mask-image: url("img/profil/ic-options.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 20%;
    mask-size: 20%;

    -moz-mask-image: url("img/profil/ic-options.svg");
    mask-image: url("img/profil/ic-options.svg");
    -moz-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -moz-mask-size: 20%;
    mask-size: 20%;

    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;

    display: block;
    width: 20px;
    height: 20px;
}

.icon-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #b3b3b3;

    -webkit-mask-image: url("img/profil/ic-close.svg");
    mask-image: url("img/profil/ic-close.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-size: 100%;

		-moz-mask-image: url("img/profil/ic-close.svg");
    mask-image: url("img/profil/ic-close.svg");
    -moz-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -moz-mask-size: 100%;
    mask-size: 100%;
		
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;

    display: block;
    width: 25px;
    height: 25px;
}

.profil-link-add {
    width: 50px;
    height: 50px;
    margin: 0 auto 20px auto;
}

.profil-link-text {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

.btn-delete-card {
    float: right;
}

.mini-graphe {
    margin: 10px 15px;
}

/* link account */
.new-account {
margin-top: 20px;
font-size: 22px;
text-align: center;
}

.new-note {

margin-top: 35px;
font-size: 16px;
text-align: center;
}

.form-link-account {

width: 50%;
margin-left: auto;
margin-right: auto;
}

.form-exist {
font-size: 18px;
}

.form-submit{
	color: #FFF;
	background: #FF3366;
	width: 150px;
	margin: 0 auto;
	display: block;
	text-transform: uppercase;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}

.new-available {

margin-top: 55px;
font-size: 22px;
text-align: center;
}
