<template name="dummy">
  <div class="row">
    <div class="col-sm-3">
      <div class="category_card">
        <a href="#" id="link-share"><i class="icon-share"></i></a>
        <a href="#" id="link-visit"><i class="icon-link"></i></a>
        <img class="logo-thumb" src="img/explore/logos/uber.png" width="120">

        <p class="category_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at nulla ac sapien sodales
          tristique. In ut odio a eros faucibus mollis ut sit amet sem. Sed quis nunc eget velit pellentesque varius.</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="category_card">
        <a href="#" id="link-share"><i class="icon-share"></i></a>
        <a href="#" id="link-visit"><i class="icon-link"></i></a>
        <img class="logo-thumb" src="img/explore/logos/airbnb.png" width="120">

        <p class="category_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at nulla ac sapien sodales
          tristique. In ut odio a eros faucibus mollis ut sit amet sem. Sed quis nunc eget velit pellentesque varius.</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="category_card">
        <a href="#" id="link-share"><i class="icon-share"></i></a>
        <a href="#" id="link-visit"><i class="icon-link"></i></a>
        <img class="logo-thumb" src="img/explore/logos/blablacar.png" width="90">

        <p class="category_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at nulla ac sapien sodales
          tristique. In ut odio a eros faucibus mollis ut sit amet sem. Sed quis nunc eget velit pellentesque varius.</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="category_card">
        <a href="#" id="link-share"><i class="icon-share"></i></a>
        <a href="#" id="link-visit"><i class="icon-link"></i></a>
        <img class="logo-thumb" src="img/explore/logos/heetch.png" width="70">

        <p class="category_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at nulla ac sapien sodales
          tristique. In ut odio a eros faucibus mollis ut sit amet sem. Sed quis nunc eget velit pellentesque varius.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="category_card">
        <a href="#" id="link-share"><i class="icon-share"></i></a>
        <a href="#" id="link-visit"><i class="icon-link"></i></a>
        <img class="logo-thumb" src="img/explore/logos/idvroom.png" width="120">

        <p class="category_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at nulla ac sapien sodales
          tristique. In ut odio a eros faucibus mollis ut sit amet sem. Sed quis nunc eget velit pellentesque varius.</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="category_card">
        <a href="#" id="link-share"><i class="icon-share"></i></a>
        <a href="#" id="link-visit"><i class="icon-link"></i></a>
        <img class="logo-thumb" src="img/explore/logos/blablacar.png" width="90">

        <p class="category_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at nulla ac sapien sodales
          tristique. In ut odio a eros faucibus mollis ut sit amet sem. Sed quis nunc eget velit pellentesque varius.</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="category_card">
        <a href="#" id="link-share"><i class="icon-share"></i></a>
        <a href="#" id="link-visit"><i class="icon-link"></i></a>
        <img class="logo-thumb" src="img/explore/logos/airbnb.png" width="120">

        <p class="category_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at nulla ac sapien sodales
          tristique. In ut odio a eros faucibus mollis ut sit amet sem. Sed quis nunc eget velit pellentesque varius.</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="category_card">
        <a href="#" id="link-share"><i class="icon-share"></i></a>
        <a href="#" id="link-visit"><i class="icon-link"></i></a>
        <img class="logo-thumb" src="img/explore/logos/uber.png" width="120">

        <p class="category_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at nulla ac sapien sodales
          tristique. In ut odio a eros faucibus mollis ut sit amet sem. Sed quis nunc eget velit pellentesque varius.</p>
      </div>
    </div>
  </div>

</template>