<template name="visit_new_site">
  <style type="text/css">
    .modal-dialog {
      width: 55%;
    }
    .modal-body{
      padding: 0 5%;;
    }
  </style>
    <h3 class="center-txt">Link your other accounts to get your TrustAdvisor badge</h3>
    <p class="center-txt">You'll get a new account in this website with this seal of trust</p>
    <br/>
    <div class="col-sm-3">
      <i class="badge-black"></i>
    </div>
    <div class="col-sm-6">
      <button class="bnt_pink">Add my accounts</button>
      <p class="center-txt">OR</p>
      <button>Skip</button>
    </div>
    <div class="col-sm-3 pull-right">
      <i class="badge-black pull-right"></i>
    </div>
</template>